.label {
	-fx-text-fill: white;
	-fx-font-size: 12px;
	-fx-alignment: center;
}

.panel {
	-fx-background-color: #2d353c;
}

.top-header {
	-fx-background-color: #242a30;
	-fx-pref-height: 55px;
}

.header {
	-fx-background-color: #242a30;
	-fx-pref-height: 25px;
}

.dark-blue-button {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-text-fill: white;
	-fx-text-fill: linear-gradient(white, #d0d0d0);
}

.dark-blue-button .label {
	-fx-text-fill: linear-gradient(white, #d0d0d0);
}

.h1 {
	-fx-font-size: 36px;
}

.h2 {
	-fx-font-size: 24px;
}

.h3 {
	-fx-font-size: 18px;
}

.tokens {
	-fx-background-image: url("../png/JetonOk.png");
	-fx-background-size: cover;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 18px;
}

.row {
	-fx-padding: 5;
	-fx-spacing: 4;
}

.row.alt {
	-fx-background-color: #1a2229;
}

.label.turn-of {
	-fx-text-fill: #348fe2;
}

.label.best-score {
	-fx-text-fill: #00acac;
}

.label.score-to-beat {
	-fx-text-fill: #ff5b57;
}

/* --------- */
/* DICE */
.dice {
	-fx-border-radius: 6px;
	-fx-border-width: 2px;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.dice.dice0 {
	-fx-background-image: url("../png/0.png");
	-fx-background-size: cover;
}

.dice.dice1 {
	-fx-background-image: url("../png/1.png");
	-fx-background-size: cover;
}

.dice.dice2 {
	-fx-background-image: url("../png/2.png");
	-fx-background-size: cover;
}

.dice.dice3 {
	-fx-background-image: url("../png/3.png");
	-fx-background-size: cover;
}

.dice.dice4 {
	-fx-background-image: url("../png/4.png");
	-fx-background-size: cover;
}

.dice.dice5 {
	-fx-background-image: url("../png/5.png");
	-fx-background-size: cover;
}

.dice.dice6 {
	-fx-background-image: url("../png/6.png");
	-fx-background-size: cover;
}

.dice.selected {
	-fx-border-color: red;
}

/* --------- */
/* TABLE */
#table-view {
	-fx-background-color: #d9e0e7;
}

/* --------- */
/* MENU */
#menu-view #game-button.dark-blue-button, #menu-view #game-button .context-menu {
	-fx-pref-width: 103px;
}

#menu-view #game-button.dark-blue-button {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-effect: null;
}

#menu-view #game-button .context-menu {
	-fx-background-color: #38424b;
}

#menu-view #game-button .item {
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

/* --------- */
/* CHAT */
#chat-view #message-control-container {
	-fx-pref-height: 50px;
}

#chat-view .dark-blue-button {
	-fx-pref-width: 24px;
	-fx-background-image: url('../png/enter.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

/* --------- */
/* PLAYER */
.avatar-container.best-score {
	-fx-stroke: #00acac;
}

.avatar-container.score-to-beat {
	-fx-stroke: #ff5b57;
}

.avatar-container.turn-of {
	-fx-stroke: #348fe2;
}

/* --------- */
/* DICE LAUNCHER */
#dice-launcher-view {
	-fx-background-color: #616d7d;
	-fx-background-radius: 100px;
	-fx-border-radius: 100px;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-spacing: 5px;
	-fx-alignment: center;
}