/* DICE */
.dice {
	-fx-border-radius : 5px;
	-fx-border-width : 2px;
	-fx-border-color : black;
	-fx-border-style: solid;
}

.dice.dice0 {
	-fx-background-image: url("../png/0.png");
	-fx-background-size: cover;
}

.dice.dice1 {
	-fx-background-image: url("../png/1.png");
	-fx-background-size: cover;
}

.dice.dice2 {
	-fx-background-image: url("../png/2.png");
	-fx-background-size: cover;
}

.dice.dice3 {
	-fx-background-image: url("../png/3.png");
	-fx-background-size: cover;
}

.dice.dice4 {
	-fx-background-image: url("../png/4.png");
	-fx-background-size: cover;
}

.dice.dice5 {
	-fx-background-image: url("../png/5.png");
	-fx-background-size: cover;
}

.dice.dice6 {
	-fx-background-image: url("../png/6.png");
	-fx-background-size: cover;
}

.dice.selected {
	-fx-border-color : red;
}

/* --------- */
/* CHAT */
#chatTitle {
	-fx-text-align : center;
	-fx-background-color : #393939;
}

#chatView, #listMessages{
	-fx-background-color : darkgray;
	-fx-text-fill : white;
}

#listUsers {
   -fx-background-color :  white;
   -fx-border-color : #666;
   -fx-border-width : 2px;
}

#messageArea {
   -fx-background-color : white;
}

#sendButton {
   -fx-background-color : white;
}

/* -------- */
/* RULES */
#rulesBox {
   -fx-background-color : linear-gradient(to bottom right, #545454, #545454);
   -fx-text-fill : white;
   -fx-pref-width : 300px;
   -fx-pref-height : 840px;
}

#rulesTitle{
	-fx-text-align : center;
	-fx-background-color : #393939;
}

.rulesItem {
   -fx-background-color : black;
   -fx-text-fill : #133924;
}

.rulesArea {
   -fx-background-color : linear-gradient(to bottom right, #545454, derive(#545454, 25%));
}

/*------------- */
/*   MENU     */
#menuView{
	-fx-background-color : #393939;
}

/*---------- */
/* TABLE */
#Table{
	-fx-background-color : #fdffba;
}

/* --------- */
/* DICE LAUNCHER */
#launchButton {
	-fx-background-color :
        darkgrey,
        linear-gradient(black, darkgrey),
        linear-gradient( derive(#ffd08b , 40%) 0%, derive(#ffd08b , 0%) 49%, derive(#ffd08b, 0%) 50%, derive(#ffd08b, 40%)  100%);
    -fx-background-insets : 0,1,2;
    -fx-background-radius : 30;
    -fx-text-fill : black;
    -fx-font-size : 14px;
}

/*---------- */
/* STATS */
.bottomBox {
	-fx-background-color : #393939;
	-fx-border-color : black;
	-fx-border-width : 1;
}

.bottomBox .label {
	-fx-text-fill : white;
	-fx-padding: 5;
	-fx-font-size : 14px;
}

/*  ----------- */
/* Player Stats */
#playerRightContainer, #playerRightContainer {
	-fx-border-color : black;
    -fx-border-width : 0 1 0 0;
}

#stats {
	-fx-background-color : #222222;
}

#titleLabelPlayer, #labelStats{
	-fx-background-color : linear-gradient( #999 , #777);
    -fx-text-fill : black;
	-fx-border-color : black;
    -fx-border-width : 0 0 2 0;
}

/* ------------ */
/* Game Stats */
#phaseTitleLabel {
	-fx-font-size: 18px;
}

#bestScore, #toWin{
	-fx-background-color : #4e4e4e;
	-fx-padding : 5;
}

#bestScoreLabel {
	-fx-text-fill : #6aa3ff;
}

#scoreToBeatLabel {
	-fx-text-fill : #ff7171;
}

#bestScorePlayer, #scoreToBeatPlayer {
	-fx-text-fill : #616161;
}

#stakeLabel {
	-fx-text-fill : #50c94b;
}

#toBeat{
	-fx-padding : 5;
	-fx-border-color : darkgrey;
	-fx-border-width : 1 0 1 0;
}